@page "/"
@using DemoPWA.Services
@inject UserService UserService
@inject IJSRuntime jsRuntime

<PageTitle>Hello @UserService.UserName</PageTitle>

<div>Hello @UserService.UserName</div>

<Button Color="ButtonColor.Primary"
        @onclick="@UserService.SignInWithGoogle">
    Sign in
</Button>

@code {

}
