@page "/"
@using DemoPWA.Services
@inject UserService UserService

<PageTitle>Hello @UserService.UserName</PageTitle>

<div>Hello @UserService.UserName</div>

<Button 
    Color="ButtonColor.Primary"
    @onclick="@UserService.ChangeUser">Change User</Button>


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
