@page "/"
@using DemoPWA.Services
@inject UserService UserService
@inject IJSRuntime jsRuntime

<PageTitle>Hello @UserService.UserName</PageTitle>

<div class="login-page">

    @if (UserService.IsLoggedId)
    {
        <div>Hello @UserService.UserName</div>

        <br />

        <Button Color="ButtonColor.Danger"
                Outline="true"
                @onclick="@UserService.Signout">
            Signout
        </Button>
    }
    else
    {
        <div>You are not sgined-in</div>

        <br/>

        <Button Color="ButtonColor.Secondary"
                @onclick="@UserService.SignInWithGoogle">
            <Icon Name="IconName.Google" /> Sign in with Google
        </Button>
    }

    <br/>
    <br/>

    <div>Visit <a href="https://github.com/IKoshelev/VolvoWroclawConf2025" target="_blank">https://github.com/IKoshelev/VolvoWroclawConf2025</a> for code and detailed hosting instructions.</div>

</div>


@code {

}

<style>
    .login-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 35vh;
    }
</style>